body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #C3073F, #1A1A1D)
}

.heading{
    margin: 70px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 5.5em Georgia, serif;
}
.sel{
    margin: 40px;
}