*{
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
  
  }
  body{
    min-height: 100vh;
    background-color: black;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  
  h1,h2{
    color: rgb(107, 19, 38);
  }

  .sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
.sidenav a{
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
.sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
 
  .side-menu{
    position: fixed;
    background: #9e0633;
    width: 19vw;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
  }
  .side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dash{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color:aliceblue;
  }

  .side-menu li{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    color: aliceblue;
    display: flex;
    align-items: center;
  }
  
  .side-menu li:hover{
    text-decoration: none;
    background: aliceblue;
    color:#9e0633;
  }
  .card-title{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
  }
  
  