{% extends "base.html" %}
{% csrf_token %}
{% block content %}
	{% for blog in blogs %}
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{ blog.location }}</a>
					<!-- <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> -->
				</div>
				<!-- <h2><a class="article-title" href="#"></a>{{ post.title }}</h2> -->
				<p class="article-content">{{ blog.review }}</p>
			</div>	
		</article>
	{% endfor %}
{% endblock content %}
