{% extends 'base.html' %}

{% block title %}
App landing
{% endblock title %}

{% block content %}
<!-- You are public user -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/design.css'%}">
    <title>Document</title>
    <!-- <style>
        

    </style> -->
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    
                    <form  action="/trial/#" method="POST" class="box">
                        {% csrf_token %}
                        <img class="card-img" src="{% static 'images/finallogo.jpeg' %}" alt="logo"/>
                        <h1>WELCOME TO THE TOURIST PORTAL</h1>
                        <p style="color:white">*You can add less visited tourist destination in your area.</p>
                        <p class="text-muted"> </p> <input type="text" name="location" placeholder="Location"> 
                        <input type="text" name="rating" placeholder="Rating(Out of 5)"> 
                        <input type="text" name="review" placeholder="Review"></input>
                        <input type="file" id="myFile" name="filename">
                         <!-- <a class="forgot text-muted" href="#">Forgot password?</a> -->
                          <input type="submit" value="Submit">

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}
