{% extends 'base.html' %}

{% block title %}
Dashboard_user
{% endblock title %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    <title>Official Landing Page</title>
</head>
<body>
  <a class="d-flex float-right" href="/trial/logout/">
    <button  class="button_slide slide_down" href="/trial/logout/"><h5 class="btntxt mb-0">Logout</h5></button>
 </a> 
    <div class="side-menu">
        <div class="brand-name">
            <h1 class="dash" style="color: aliceblue;">Dashboard</h1>
        </div>
        <ul>
            <li ><a href="#" style="color: black; font-weight: 700;">Notifications</a></li>
            <li ><a href="#" style="color: black; font-weight: 700;">Profile</a></li>
        </ul>
       
    </div>

    <div class="row">
        <div class="col-sm-5">
          <div class="card" style="margin-top: 10%; margin-left:60%;">
            <div class="card-body" >
              <h5 class="card-title">Official</h5>
              <p class="card-text"></p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card"  style="margin-top: 10%; margin-left:60%;">
            <div class="card-body">
              <h5 class="card-title">Department</h5>
              <p class="card-text"></p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-sm-5">
            <div class="card"  style="margin-top: 10%; margin-left:60%;">
              <div class="card-body">
                <h5 class="card-title">Sub Department</h5>
                <p class="card-text"></p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="card"  style="margin-top: 10%; margin-left:60%;">
              <div class="card-body">
                <a href="/trial/viewcomplaints/">
                  <!-- <button class="button_slide slide_down" href = "/trial/viewcomplaints/"><h5 class="btntxt mb-0">Complaints</h5></button> -->
                  <a href="/trial/viewcomplaints/" class="btn btn-primary">Complaints</a>
                </a>
                
                <p class="card-text"></p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
      </div>
    </div> 
</body>
</html>

{% endblock content %}