{% extends 'base.html' %}

{% block title %}
App landing
{% endblock title %}

{% block content %}
<!-- You are public user -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/design.css'%}">
    <title>Document</title>
    <!-- <style>
        

    </style> -->
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    
                    <form onsubmit="event.preventDefault()" class="box">
                        <img class="card-img" src="{% static 'images/finallogo.jpeg' %}" alt="logo"/>
                        <h1>WELCOME</h1>
                        <p class="text-muted"> </p> <input type="text" name="name" placeholder="Your name"> 
                        <input type="text" name="phoneo" placeholder="Enter your phone number"> 
                         <!-- <a class="forgot text-muted" href="#">Forgot password?</a> -->
                          <input type="submit" name="" value="Login" href="#">
                        <div class="col-md-12">
                            <!-- <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                            </ul> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}