{% extends 'base.html' %}

{% block title %}
    Complaints
{% endblock title %}

{% block content %}
	{% load static %}
	<button class="btn btn-primary btn-small ma-2 ml-4"> 
		<a href="/trial/backofhome/" style="color:white;text-decoration: none;">Back to Dashboard</a>
		</button>
	<h1 class="complaints-head" style="font-size: 50px; margin:4%; font-family: 'Times New Roman', Times, serif;color:rgb(229, 225, 238);">Complaints</h1>
	<style>
		.card
		{
			background-color: black;
			color: white;
		}
	</style>
	<h2> {{official}}</h2>
	<link rel="stylesheet" href="{% static 'css/view_complaints.css'%}">
	{% for complaint in complaints%}
		{% if complaint.status == 'S' %}
			<article class="media content-section">
				<div class="col-sm-5">
					<div class="card l-bg-cherry" >
						<h4 class="mr-2" style="margin: 3%; font-family: 'Times New Roman', Times, serif;">The complaint was filed by: <b>{{ complaint.sender }}</b></h4>
						<small style="margin-left: 3%; font-family: 'Times New Roman', Times, serif;"> Status of now: <b>Solved</b></small>
					<div class="card-body" >
						<h5 class="card-title" style="margin: 3%; font-family: 'Times New Roman', Times, serif;"><h5 style="margin: 3%; font-family: 'Times New Roman', Times, serif;">Complaint Description:</h5> <h6 style="margin: 2%; font-family: 'Times New Roman', Times, serif; color: #C3073F,"> {{ complaint.complaint}}</h6> </h5>
						<!-- <p class="card-text">{{ complaint.id}}</p> -->
						<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
					</div>
					</div>
					<br>
				</div>
				<br>
			</article>
		{% endif  %}
	{% endfor %}
{% endblock content %}